.container {
    height: 100px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.active-button {
    font-family: monospace;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 2px;
    cursor: pointer;
}

.correct-button {
    font-family: monospace;
    font-size: 2rem;
    color: green;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 2px;
}

.wrong-button {
    font-family: monospace;
    font-size: 2rem;
    color: red;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 2px;
    
}